[Unit]
Description=Freshen root.hints for Unbound DNS validating resolver at boot and on a weekly timer

[Timer]
OnBootSec=5min
OnUnitActiveSec=1w
 
[Install]
WantedBy=timers.target
